<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <% if(data.user.role === "Instructor") { %>
        <a href="/course/add"><button>Add Course</button></a>
    <% } %>

    <h2>View All Course</h2>
    <form action="/course/all" method="get">
        <label for="search">Search course:</label><br>
        <input type="search" id="search" name="search">
        <input type="submit" value="search">
      </form>

      <form action="/course/all" method="get">
      <select name="sort">
        <option value="" selected disabled>-- select--</option>
        <option value="History">History</option>
        <option value="Mathematics">Mathematics</option>
        <option value="Geography">Geography</option>
        <option value="Biology">Biology</option>
        <input type="submit" value="sort">
      </select>
    </form>
    <table>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Duration</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        <% data.course.forEach((element,index) => { %>
            <tr>
                <td><%= index + 1 %> </td>
                <td><%= element.name %></td>
                <td><%= converttime(element.duration) %></td>
                <td><%= element.category %></td>
                <td>
                    <% if(data.user.role === "Student") { %>
                      
                        <% if(data.courseId.includes(element.id)){ %>
                            <p>subscribed</p>
                            <% } else { %>
                                <a href="/course/<%=element.id%>/subscribe"><button>Subscribe</button></a>
                            <% } %>    
                    <% } else { %>
                        <a href="/course/<%=element.id%>/edit"><button>Edit Course</button></a>
                     <% } %> 
                </td>
            </tr>
        <% }); %> 
    </table>

</body>

</html>