<!DOCTYPE html>
<html lang="en">

    <%- include('partial/head', {title: 'All Courses'}) %>
<body>
    <ul>
        <li><a href="/"> Home </a></li>
        <% if(data.user.role === "Student") { %>
            <li><a href="/course/sub"> Your Course </a></li>
        <% } %>
        <li><a href="/course/all"> All Course </a></li>
        <li><a href="/user">Profile</a></li>
        <li><a href="/chatroom">Chat Room</a></li>
    </ul>

    <% if(data.user.role === "Instructor") { %>
        <a href="/course/add"><button>Add Course</button></a>
    <% } %>

    <h2>View All Course</h2>
    <form action="/course/all" method="get">
        <label for="search">Search course:</label><br>
        <input type="search" id="search" name="search">
        <input type="submit" value="search">
      </form>

      <form action="/course/all" method="get">
      <select name="sort">
        <option value="" selected disabled>-- select--</option>
        <option value="History">History</option>
        <option value="Mathematics">Mathematics</option>
        <option value="Geography">Geography</option>
        <option value="Biology">Biology</option>
        <input type="submit" value="sort">
      </select>
    </form>
    <table>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Duration</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        <% data.course.forEach((element,index) => { %>
            <tr>
                <td><%= index + 1 %> </td>
                <td><%= element.name %></td>
                <td><%= converttime(element.duration) %></td>
                <td><%= element.category %></td>
                <td>
                    <% if(data.user.role === "Student") { %>
                      
                        <% if(data.courseId.includes(element.id)){ %>
                            <p>subscribed</p>
                            <% } else { %>
                                <a href="/course/<%=element.id%>/subscribe"><button>Subscribe</button></a>
                            <% } %>    
                    <% } else { %>
                        <a href="/course/<%=element.id%>/edit"><button>Edit Course</button></a>
                     <% } %> 
                </td>
            </tr>
        <% }); %> 
    </table>

</body>

</html>