<!DOCTYPE html>
<html lang="en">

    <%- include('partial/head', {title: 'Home'}) %>

<body>
    <ul>
        <li><a href="/"> Home </a></li>
        <% if(data.user.role === "Student") { %>
            <li><a href="/course/sub"> Your Course </a></li>
        <% } %>
        <li><a href="/course/all"> All Course </a></li>
        <li><a href="/user">Profile</a></li>
        <li><a href="/chatroom">Chat Room</a></li>
    </ul>
    <h2>View All Your Course</h2>

    <table>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Duration</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        <% data.course.forEach((element,index) => { %>
            <tr>
                <td><%= index + 1 %> </td>
                <td><%= element.name %></td>
                <td><%= converttime(element.duration) %></td>
                <td><%= element.category %></td>
                <td><a href="/course/sub/<%=element.id%>"><button>Watch Course</button></a> || 
                    <a href="/course/sub/<%=element.id%>/unsubscribe"><button>unsubscribe</button></a>
                </td>
            </tr>
        <% }); %> 
    </table>

</body>

</html>